[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
requests = "*"
peewee = "*"
pyyaml = "*"
addict = "*"
flask = "*"
flask-bootstrap = "*"
aiohttp = "*"
attrs = "==19.1.0"
pysqlite3 = "*"

[requires]
python_version = "3.6"

[dev-packages]
pytest = "*"
requests-mock = "*"
ipdb = "*"
pytest-pylint = "*"
